@import url('productPageStyle.css');

.BannerDescription
{
	height: 300px;
	margin-top: 10px;
}

.iPhoneScreenshotWidget .nivo-controlNav 
{
	left: 78px;
}

h1
{
	font-size: 1.3em;
}

.AppStoreButton
{
	margin-top: 20px;
}
